/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif;  */
/* Fraunces */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
/* font-family: 'Fraunces', serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    overflow-y: hidden;
    overflow-x: hidden;
}

/* flex container css */

.flex-container{
    display: flex;
    max-width: 600px;
    border-radius: 10px;
    background-color: white;
}
/* flex item css */
.img-div img{
    max-width: 300px;
    border-radius: 10px 0px 0px 10px;
    display: block;
    content: url(./images/image-product-desktop.jpg);
}
.text-container{
    display: flex;
    flex-direction: column;  
    padding: 10px 40px 0px 40px; 
}
.sub-text-1{
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
}
h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: hsl(212, 21%, 14%);
    padding-right: 35px;
    line-height: 33px;
}
.para-1{
    font-size: 0.875rem;
    font-family:'Montserrat', sans-serif;
    line-height: 20px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}
.product-prices{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.current-price{
    font-family: 'Fraunces', serif; 
    font-size: 1.875rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}
.discount-price{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8125rem;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
button{
    background-color: hsl(158, 36%, 37%);
    height: 43px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}
button:hover{
    cursor: grab;
    background-color: hsl(156, 42%, 18%);
}



/* Media Queries */
@media only screen and (max-width: 700px){

body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.flex-container{
    display: flex;
    max-width: 350px;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
} 
.img-div img{
    content: url(./images/image-product-mobile.jpg);
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
}
.text-container{
    padding: 10px 20px;
}
button{
    height: 50px;
    margin-bottom: 20px;
}
.para-1{
    line-height: 25px;
    padding-right: 20px;
}
    
}
